<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Require Nancy Sammy</title>
    <link href="~/Lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script data-main="Scripts/config/require-config.js" src="Lib/requirejs/require.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>Require Nancy Sammy</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <ul class="nav navbar-nav">
                    <li><a href="#/Home/Index">Home</a></li>
                    <li><a href="#/About/Index">About Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content" id="SammyContainer">
                
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">

            </div>
            
        </footer>
    </div><!-- ./wrapper -->
</body>
</html>
</html>
